doctype html
html(lang="en")
    head
        meta(charset="UFF-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport", content="width=device-whit,inital-scale=1.0")
        title Noom
    body 
        h1 It works!